// 颜色定义规范
$color-background: #393232;
$color-background-white: #fff;
$color-background-green: #67C23A;
$color-background-gray: #c0c0c0;
$color-background-a: #f2c6b4;
$color-background-b: #4d4545;


$color-text: #a2d5f2;
$color-text-white: #fff;
$color-text-black: #000;
$color-text-gray: #c0c0c0;
$color-text-green: #67C23A;
$color-text-l: rgba(255, 255, 255, 0.5);

$color-white: #fff;
$color-black: #000;
$color-gray: #c0c0c0;
$color-green: #00CC33;
$color-active: #f298ae;

$appPaddingLR: 10px;

//字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;